#map {
    height: 800px; 
    width: 1600px
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.custom-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.circle {
width: 10px;
height: 10px;
background-color: red;
border: 0px solid white;
border-radius: 50%;
}